html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}

.home-page {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.quote-card{
    text-align: center;
    grid-columns: 0;
    grid-rows: 0;
    justify-self: center;
    align-self: center;
}

.your-notes-button{
    grid-columns: 0;
    grid-rows: 0;
    align-self: center;
    justify-self: center;
}

.take-note-button{
    grid-columns: 0;
    grid-rows: 0;
    align-self: center;
    justify-self: center;
}

.save-note-page{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.your-notes-page{
    display: grid;
    grid-template-rows: auto
    grid-template-columns: auto;
    background-image: url(/static/images/notes_background.jpg);
    background-repeat: repeat;
}

.go-home-btn {
    grid-rows: 0;
    grid-columns: 0;
    align-self: center;
    justify-self: center;
    margin: 20px 10px 5px 10px;
}


.note {
    margin: 20px 20px 20px 20px;
}

.save-note-form{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 60vw;
    background-color: white;
    height: 100vh;
}

.home-buttons{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}