body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.quote-card{
    text-align: center;
    grid-columns: 0;
    grid-rows: 0;
    justify-self: center;
    align-self: center;
}

.take-note-button{
    grid-columns: 0;
    grid-rows: 1;
    justify-self: center;
    align-self: flex-start;
}