<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.23.6/dist/css/uikit.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
</head>
<body class="uk-background-cover" style="background-image: url(static/images/notes_background.jpg);">
<div class="uk-card uk-card-default uk-card-hover quote-card uk-card-large">
    <div class="uk-card-body">
        <h2 class="uk-card-title" style="font-size: 30px;font-family: Lora;">“The discipline of writing something down
            is the first step toward making it
            happen.”</h2>
        <p style="font-size: 15px;font-family: Lora"> ~ Lee
            Iacocca</p>
    </div>
</div>
<a type="button" href="/add" class="uk-button uk-button-default uk-button-large uk-margin-medium-bottom take-note-button" style="background-color: white;font-family: Lora;font-weight: bold;">Take
    a Note</a>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.23.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.23.6/dist/js/uikit-icons.min.js"></script>
</body>
</html>