<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.23.6/dist/css/uikit.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
</head>
<body class="uk-background-cover your-notes-page">
<div class="go-home-btn">
    <button type="button" onclick="location.href= '{{ url_for('home') }}'"
            class="uk-button uk-button-default uk-button-large"
            style="background-color: white;font-family: Lora;font-weight: bold;">Go Home
    </button>
</div>
<div class="your-notes">
    {% for note in notes %}
    <div class="uk-card-small note" style="background-color: white;font-family: Lora; font-size: small;">
        <div class="uk-card-header">
            <h1 class="uk-margin-remove-bottom" style="font-family: Lora;font-weight: bold;">{{note.title}}</h1>
        </div>
        <div class="uk-card-body">
            <p>{{note.content}}</p>
        </div>
    </div>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.23.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.23.6/dist/js/uikit-icons.min.js"></script>
</body>
</html>